.product-list-wrapper {
  padding: 20px;
  color: white;
  position: relative;
}

.titre {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin-top: -5px;
  margin-bottom: 10px;
  color: #f1ecec;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
 
  user-select: none;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 10px 0;
  position: relative;
}

.product-list::-webkit-scrollbar {
  display: none;
}

.product-list {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(20px);
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: crimson;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.scroll-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  transform: translateY(-50%);
  z-index: 10; 
  pointer-events: none; 
}

.scroll-buttons svg {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s;
}

.scroll-buttons svg:hover {
  background-color: crimson;
}

@media (min-width: 768px) {
  .scroll-buttons {
    display: none;
  }
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-top: 8px solid crimson;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: white;
  flex-direction: column;
}

